
<div>
    <p>Id: <%= @product.id%></p>
    <p>Name: <%= @product.name%></p>
    <p>Price: <%= @product.price%></p>
    <p>Quantity: <%= @product.quantidade%></p>
    <p>Created: <%= @product.created_at%></p>

    <%= link_to 'Voltar', products_path %>
</div>